@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.313)),
    url(../img/fondo.jpg);
  object-fit: cover;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-align {
  width: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
.container-inputs {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
label {
  font-size: 15px;
  color: rgb(100, 95, 95);
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.inputs-style {
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgba(250, 235, 215, 0.268);
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}
.container-terminos {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  outline: none;
}
button {
  width: 350px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #201422ec;
  color: white;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 575px) {
  .container {
    width: 300px;
  }
  .container-align {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container-inputs {
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  button {
    width: 250px;
  }
}
